.gd-g {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    *word-spacing: -0.43em;
    text-rendering: optimizespeed;
    /*display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;*/
}

.opera-only :-o-prefocus,
.gd-g {
    word-spacing: -0.43em;
}

.gd-u {
	display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    width: 100%;
}

.gd-u-1 { width:100%; }
.gd-u-1-2 { width: 50%; }
.gd-u-1-3 { width: 20%; }
.gd-u-2-3 { width: 66.66666%; }
.gd-u-1-4 { width: 25%; }
.gd-u-3-4 { width: 75%; }
.gd-u-1-5 { width: 20%; }
.gd-u-2-5 { width: 40%; }
.gd-u-3-5 { width: 60%; }
.gd-u-4-5 { width: 80%; }
.gd-u-1-6 { width: 16.656%; }
.gd-u-5-6 { width: 83.33%; }
.gd-u-1-8 { width: 12.5%; }
.gd-u-3-8 { width: 37.5%; }
.gd-u-5-8 { width: 62.5%; }
.gd-u-7-8 { width: 87.5%; }
.gd-u-1-12 { width: 8.3333%; }
.gd-u-5-12 { width: 41.6666%; }
.gd-u-7-12 { width: 58.3333%; }
.gd-u-11-12 { width: 91.6666%; }
.gd-u-1-24 { width: 4.1666%; }
.gd-u-5-24 { width: 20.8333%; }
.gd-u-7-24 { width: 29.1666%; }
.gd-u-11-24 { width: 45.8333%; }
.gd-u-13-24 { width: 54.1666%; }
.gd-u-17-24 { width: 70.8333%; }
.gd-u-19-24 { width: 79.1666%; }
.gd-u-23-24 { width: 95.8333%;}

@media screen and (min-width: 550px){
	.gd-u-gt550-1 { width:100%; }
	.gd-u-gt550-1-2 { width: 50%; }
	.gd-u-gt550-1-3 { width: 33.33333%; }
	.gd-u-gt550-2-3 { width: 66.66666%; }
	.gd-u-gt550-1-4 { width: 25%; }
	.gd-u-gt550-3-4 { width: 75%; }
	.gd-u-gt550-1-5 { width: 20%; }
	.gd-u-gt550-2-5 { width: 40%; }
	.gd-u-gt550-3-5 { width: 60%; }
	.gd-u-gt550-4-5 { width: 80%; }
	.gd-u-gt550-1-6 { width: 16.656%; }
	.gd-u-gt550-5-6 { width: 83.33%; }
	.gd-u-gt550-1-8 { width: 12.5%; }
	.gd-u-gt550-3-8 { width: 37.5%; }
	.gd-u-gt550-5-8 { width: 62.5%; }
	.gd-u-gt550-7-8 { width: 87.5%; }
	.gd-u-gt550-1-12 { width: 8.3333%; }
	.gd-u-gt550-5-12 { width: 41.6666%; }
	.gd-u-gt550-7-12 { width: 58.3333%; }
	.gd-u-gt550-11-12 { width: 91.6666%; }
	.gd-u-gt550-1-24 { width: 4.1666%; }
	.gd-u-gt550-5-24 { width: 20.8333%; }
	.gd-u-gt550-7-24 { width: 29.1666%; }
	.gd-u-gt550-11-24 { width: 45.8333%; }
	.gd-u-gt550-13-24 { width: 54.1666%; }
	.gd-u-gt550-17-24 { width: 70.8333%; }
	.gd-u-gt550-19-24 { width: 79.1666%; }
	.gd-u-gt550-23-24 { width: 95.8333%; }
    
    
}

@media screen and (min-width: 700px){
	.gd-u-gt700-1 { width:100%; }
	.gd-u-gt700-1-2 { width: 50%; }
	.gd-u-gt700-1-3 { width: 33.3%; }
	.gd-u-gt700-2-3 { width: 66%; }
	.gd-u-gt700-1-4 { width: 25%; }
	.gd-u-gt700-3-4 { width: 75%; }
	.gd-u-gt700-1-5 { width: 20%; }
	.gd-u-gt700-2-5 { width: 40%; }
	.gd-u-gt700-3-5 { width: 60%; }
	.gd-u-gt700-4-5 { width: 80%; }
	.gd-u-gt700-1-6 { width: 16.656%; }
	.gd-u-gt700-5-6 { width: 83.33%; }
	.gd-u-gt700-1-8 { width: 12.5%; }
	.gd-u-gt700-3-8 { width: 37.5%; }
	.gd-u-gt700-5-8 { width: 62.5%; }
	.gd-u-gt700-7-8 { width: 87.5%; }
	.gd-u-gt700-1-12 { width: 8.3333%; }
	.gd-u-gt700-5-12 { width: 41.6666%; }
	.gd-u-gt700-7-12 { width: 58.3333%; }
	.gd-u-gt700-11-12 { width: 91.6666%; }
	.gd-u-gt700-1-24 { width: 4.1666%; }
	.gd-u-gt700-5-24 { width: 20.8333%; }
	.gd-u-gt700-7-24 { width: 29.1666%; }
	.gd-u-gt700-11-24 { width: 45.8333%; }
	.gd-u-gt700-13-24 { width: 54.1666%; }
	.gd-u-gt700-17-24 { width: 70.8333%; }
	.gd-u-gt700-19-24 { width: 79.1666%; }
	.gd-u-gt700-23-24 { width: 95.8333%; }
    .padder{ padding-right: 1.25em; }
}

@media screen and (min-width: 800px){
	.gd-u-gt800-1 { width:100%; }
	.gd-u-gt800-1-2 { width: 50%; }
	.gd-u-gt800-1-3 { width: 33%; }
	.gd-u-gt800-2-3 { width: 66.66666%; }
	.gd-u-gt800-1-4 { width: 25%; }
	.gd-u-gt800-3-4 { width: 75%; }
	.gd-u-gt800-1-5 { width: 20%; }
	.gd-u-gt800-2-5 { width: 40%; }
	.gd-u-gt800-3-5 { width: 60%; }
	.gd-u-gt800-4-5 { width: 80%; }
	.gd-u-gt800-1-6 { width: 16.656%; }
	.gd-u-gt800-5-6 { width: 83.33%; }
	.gd-u-gt800-1-8 { width: 12.5%; }
	.gd-u-gt800-3-8 { width: 37.5%; }
	.gd-u-gt800-5-8 { width: 62.5%; }
	.gd-u-gt800-7-8 { width: 87.5%; }
	.gd-u-gt800-1-12 { width: 8.3333%; }
	.gd-u-gt800-5-12 { width: 41.6666%; }
	.gd-u-gt800-7-12 { width: 58.3333%; }
	.gd-u-gt800-11-12 { width: 91.6666%; }
	.gd-u-gt800-1-24 { width: 4.1666%; }
	.gd-u-gt800-5-24 { width: 20.8333%; }
	.gd-u-gt800-7-24 { width: 29.1666%; }
	.gd-u-gt800-11-24 { width: 45.8333%; }
	.gd-u-gt800-13-24 { width: 54.1666%; }
	.gd-u-gt800-17-24 { width: 70.8333%; }
	.gd-u-gt800-19-24 { width: 79.1666%; }
	.gd-u-gt800-23-24 { width: 95.8333%; }
    .padder{ padding-right: 1.5em; }
}

@media screen and (min-width: 1000px){
	.gd-u-gt1000-1 { width:100%; }
	.gd-u-gt1000-1-2 { width: 50%; }
	.gd-u-gt1000-1-3 { width: 33.33333%; }
	.gd-u-gt1000-2-3 { width: 66.66666%; }
	.gd-u-gt1000-1-4 { width: 25%; }
	.gd-u-gt1000-3-4 { width: 75%; }
	.gd-u-gt1000-1-5 { width: 20%; }
	.gd-u-gt1000-2-5 { width: 40%; }
	.gd-u-gt1000-3-5 { width: 60%; }
	.gd-u-gt1000-4-5 { width: 80%; }
	.gd-u-gt1000-1-6 { width: 16.656%; }
	.gd-u-gt1000-5-6 { width: 83.33%; }
	.gd-u-gt1000-1-8 { width: 12.5%; }
	.gd-u-gt1000-3-8 { width: 37.5%; }
	.gd-u-gt1000-5-8 { width: 62.5%; }
	.gd-u-gt1000-7-8 { width: 87.5%; }
	.gd-u-gt1000-1-12 { width: 8.3333%; }
	.gd-u-gt1000-5-12 { width: 41.6666%; }
	.gd-u-gt1000-7-12 { width: 58.3333%; }
	.gd-u-gt1000-11-12 { width: 91.6666%; }
	.gd-u-gt1000-1-24 { width: 4.1666%; }
	.gd-u-gt1000-5-24 { width: 20.8333%; }
	.gd-u-gt1000-7-24 { width: 29.1666%; }
	.gd-u-gt1000-11-24 { width: 45.8333%; }
	.gd-u-gt1000-13-24 { width: 54.1666%; }
	.gd-u-gt1000-17-24 { width: 70.8333%; }
	.gd-u-gt1000-19-24 { width: 79.1666%; }
	.gd-u-gt1000-23-24 { width: 95.8333%; }
    .padder{ padding-right: 2em; }
}

@media screen and (min-width: 1200px){
	.gd-u-gt1200-1 { width:100%; }
	.gd-u-gt1200-1-2 { width: 50%; }
	.gd-u-gt1200-1-3 { width: 33.33333%; }
	.gd-u-gt1200-2-3 { width: 66.66666%; }
	.gd-u-gt1200-1-4 { width: 25%; }
	.gd-u-gt1200-3-4 { width: 75%; }
	.gd-u-gt1200-1-5 { width: 20%; }
	.gd-u-gt1200-2-5 { width: 40%; }
	.gd-u-gt1200-3-5 { width: 60%; }
	.gd-u-gt1200-4-5 { width: 80%; }
	.gd-u-gt1200-1-6 { width: 16.656%; }
	.gd-u-gt1200-5-6 { width: 83.33%; }
	.gd-u-gt1200-1-8 { width: 12.5%; }
	.gd-u-gt1200-3-8 { width: 37.5%; }
	.gd-u-gt1200-5-8 { width: 62.5%; }
	.gd-u-gt1200-7-8 { width: 87.5%; }
	.gd-u-gt1200-1-12 { width: 8.3333%; }
	.gd-u-gt1200-5-12 { width: 41.6666%; }
	.gd-u-gt1200-7-12 { width: 58.3333%; }
	.gd-u-gt1200-11-12 { width: 91.6666%; }
	.gd-u-gt1200-1-24 { width: 4.1666%; }
	.gd-u-gt1200-5-24 { width: 20.8333%; }
	.gd-u-gt1200-7-24 { width: 29.1666%; }
	.gd-u-gt1200-11-24 { width: 45.8333%; }
	.gd-u-gt1200-13-24 { width: 54.1666%; }
	.gd-u-gt1200-17-24 { width: 70.8333%; }
	.gd-u-gt1200-19-24 { width: 79.1666%; }
	.gd-u-gt1200-23-24 { width: 95.8333%; }
    .padder{ padding-right: 2.25em; }
}

@media screen and (min-width: 1400px){
	.gd-u-gt1400-1 { width:100%; }
	.gd-u-gt1400-1-2 { width: 50%; }
	.gd-u-gt1400-1-3 { width: 33.33333%; }
	.gd-u-gt1400-2-3 { width: 66.66666%; }
	.gd-u-gt1400-1-4 { width: 25%; }
	.gd-u-gt1400-3-4 { width: 75%; }
	.gd-u-gt1400-1-5 { width: 20%; }
	.gd-u-gt1400-2-5 { width: 40%; }
	.gd-u-gt1400-3-5 { width: 60%; }
	.gd-u-gt1400-4-5 { width: 80%; }
	.gd-u-gt1400-1-6 { width: 16.656%; }
	.gd-u-gt1400-5-6 { width: 83.33%; }
	.gd-u-gt1400-1-8 { width: 12.5%; }
	.gd-u-gt1400-3-8 { width: 37.5%; }
	.gd-u-gt1400-5-8 { width: 62.5%; }
	.gd-u-gt1400-7-8 { width: 87.5%; }
	.gd-u-gt1400-1-12 { width: 8.3333%; }
	.gd-u-gt1400-5-12 { width: 41.6666%; }
	.gd-u-gt1400-7-12 { width: 58.3333%; }
	.gd-u-gt1400-11-12 { width: 91.6666%; }
	.gd-u-gt1400-1-24 { width: 4.1666%; }
	.gd-u-gt1400-5-24 { width: 20.8333%; }
	.gd-u-gt1400-7-24 { width: 29.1666%; }
	.gd-u-gt1400-11-24 { width: 45.8333%; }
	.gd-u-gt1400-13-24 { width: 54.1666%; }
	.gd-u-gt1400-17-24 { width: 70.8333%; }
	.gd-u-gt1400-19-24 { width: 79.1666%; }
	.gd-u-gt1400-23-24 { width: 95.8333%; }
}

.opera-only :-o-prefocus,
.gd-g {
    word-spacing: -0.43em;
}

img {
    max-width: 100%;
}